<!DOCTYPE html>
<html>
<head>
    <title>View Patients</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Patients List</h2>
    <table border="1">
        <tr>
            <th>SN.NO</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone</th>
        </tr>
        {% for p in patients %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ p.FullName }}</td>
            <td>{{ p.Age }}</td>
            <td>{{ p.Gender }}</td>
            <td>{{ p.Phone }}</td>
        </tr>
        {% endfor %}
    </table>
 <a href="/add_patient">Add Patient</a>
</body>
</html>